# Variables de entorno locales
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencias y cachés de Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.pytest_cache/
.mypy_cache/

# Dependencias y compilados de Node
node_modules/
dist/
dist-ssr/
.eslintcache

# Archivos del sistema operativo
.DS_Store
Thumbs.db
.ipynb_checkpoints/
